@font-face {
  font-family: 'mont-regular';
  src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'mont-bold';
  src: url(fonts/Montserrat-Bold.ttf);
}

*{
  margin: 0;
  padding: 0;
  font-family: 'mont-regular';
}

  .title_sidebar {
    width: 46.5vh;
    height: 13vh;
    text-align: center;
    color:aliceblue;
    background-color: rgb(37, 36, 36);
    padding: 8px 0;
    border-radius: 7px;
    margin-left: 2px;
    margin-top: 5px;
    font-size: 17px;
  }

  .title_sidebar h2{
    margin-top: 20px;
  }

  #songs_sidebar{
    object-fit: contain;
    width: 46.5vh;
    height: 80.0vh;
    text-align: center;
    color: white;
    word-wrap: break-word;
    background-color: rgb(37, 36, 36);
    border-radius: 7px;
    margin-left: 2px;
    padding: 8px 0;
    margin-top: 5px;
  }
  #lyrics_background {
    padding-top: 70px;
    object-fit: contain;
    width: 152.0vh;
    height: 100vh;
    text-align: center;
    color: white;
    word-wrap: break-word;
    background-color: rgb(37, 36, 36);
    border-radius: 7px;
    float: right;
    margin-top: -752px;
  }


  .ul_sidebar li{
    display: flex;
    width: 100%;
    justify-content: left;
    height: 100px;
  }


  .song_image{
    margin-top: 20px;
    margin-left: 10px;
    height: 65px;
    width:65px;
    object-fit: cover;
    margin-right: 50px;
    border: 2px solid white;
    border-radius: 50%;
  }

  .song_label{
    margin-top: 40px;
    font-size: 20;
    color: white;
  }