.body-center{
    padding-top: 70px;
    width: 1521.1px;
    height: 90.6vh;
    text-align: center;
    color: white;
    word-wrap: break-word;
    background-color: #df8653;
    margin-top: -10px;
    margin-left: -10px;
}
.body-center-two{
    padding-top: 70px;
    object-fit: contain;
    width: 500px;
    height: 150px;
    text-align: center;
    background-color: #df8653;
    margin-top: 150px;
    margin-left: 513px;
}
.ranara{
    text-align: center;
    font-size: 50px;
    color: white;
}
.lancian{
    text-align: center;
    font-size: 50px;
    color:white;
}