@font-face {
    font-family: 'mont-regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'mont-bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
}

.body-center{
    padding-top: 70px;
    height: 100vh;
    text-align: center;
    color: black;
    word-wrap: break-word;
    background-color: #df8653;
    margin-top: -10px;
    margin-left: -10px;
}
.body-center-two{
    font-family: 'mont-bold';
    padding-top: 70px;
    object-fit: contain;
    width: 500px;
    height: 100px;
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left: 513px;
}
a{
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    color:black;
}

a:hover{
    color: yellow;
}

h1{
    font-family: 'mont-bold';
}